<div scroll-spy in-view-container horizontal-bkgd-container>

    <div id="team1" class="fullpage horiz" panel-in-view background="w" background-img="../images/bg/AT_team-bg.png" size="cover">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member at-left">
                    <div class="team-photo" background-img="../images/team/greg.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Greg Heuss</h1>
                        <h2>Chief Executive Officer</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/pub/greg-heuss/0/377/48a" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/grh2323" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Greg has 20 years of start-up leadership. He started his career in the music and entertainment industry before becoming one of the early members of the original Amazon.com marketing team. He has taken companies public, merged with fortune 100 corpor&shy;ations and has a vast background in mobile based products, SAAS and subscription revenue models, and has helped build some of the biggest brands in the world.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>A hobby of mine that is turning into a business is wine-making - I'm on my fourth vintage and starting a winery with a few friends.  My most fulfilling hobby is volunteering at Little Bit Therapeutic Riding - helping children with disabilities overcome fears and obstacles via the help of fantastic four legged "therapists" - horses.</p>
                        <p class="quiz">More on Greg:</p>
                        <p class="quiz">AT: "Hey Greg, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Greg:</span> "I'd be a GM of an NFL team on draft day.  The stats, analysis, decisions, wheeling and dealing - it's all that I love."</p>
                    </div>
                </div>
                <div class="member-divider"></div>
                <div class="team-member at-right">
                    <div class="team-photo" background-img="../images/team/brent.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Brent Friedman</h1>
                        <h2>Co-founder, CCO</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/pub/brent-friedman/4/342/72" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/bfree63" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>As a Creator, Writer and Producer, Brent has more than 25 years of experience in entertainment across all platforms. In traditional media, Brent has worked with nearly all the major Hollywood studios.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Listening to great music and convincing myself I might one day be as good a musician as those I admire.</p>
                        <p class="quiz">More on Brent:</p>
                        <p class="quiz">AT: "Hey Brent, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Brent:</span> "I would work at Majestic 12 so I could learn the full truth about aliens."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team2" class="fullpage horiz" panel-in-view background="w" background-img="../images/bg/AT_team-bg.png" size="cover">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member at-left">
                    <div class="team-photo" background-img="../images/team/sam.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Sam Teplitsky</h1>
                        <h2>Co-founder, CMO</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/in/samteplitsky" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/samtep" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Sam has 15 years of experience in the media & entertainment industry creating executing innovative solutions for mobile, enter&shy;tainment, retail, and advertising companies. His management ex&shy;pertise spans creative direction, new media initiatives, mobile product and business development.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Laughing, Cooking</p>
                        <p class="quiz">More on Sam:</p>
                        <p class="quiz">AT: "Hey Sam, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Sam:</span> "I'd like to work the grill at <a ng-href="http://www.google.com/url?q=http%3A%2F%2Fwww.foodandwine.com%2Frestaurants%2Fetxebarri-bilbao&sa=D&sntz=1&usg=AFQjCNH8VdxfDSn5_c0b1uMhEHVt2ka6JA" title="Extebarri Restaurant">Etxebarri</a> Restaurant in the Basque Village of Axpe. If that isn't possible I'd be content chopping the wood."</p>
                    </div>
                </div>
                <div class="member-divider"></div>
                <div class="team-member at-right">
                    <div class="team-photo" background-img="../images/team/ben.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Ben McAllister</h1>
                        <h2>VP, Development and Production</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/in/listenfaster" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/listenfaster" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Ben McAllister has more than 14 years experience bridging tech&shy;nology, science, and art developing several emerging technologies at key milestones in the music business including streaming audio, DRM, and emerging cross platform systems. As an interactive de&shy;signer and installation artist, Ben's been featured in gallery work bringing his unique motion tracking and audio analysis software to visitors.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Writing music and running</p>
                        <p class="quiz">More on Ben:</p>
                        <p class="quiz">AT: "Hey Ben, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Ben:</span> "On some huge Library of Congress grant, I'd collect field recordings of music and sound in some remote area, somewhere untouched by western civilization.  I love recording new sounds, and I'd learn a lot about survival, sound and how humans interact with technology in the process."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team3" class="fullpage horiz" panel-in-view background="w" background-img="../images/bg/AT_team-bg.png" size="cover">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member at-left">
                    <div class="team-photo" background-img="../images/team/matt.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Matt Joss</h1>
                        <h2>Senior Software Architect</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/pub/matt-joss/2/450/734" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/mattjoss" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Matt has more than 20 years’ experience as a mobile, desktop and web solutions architect spanning from direct to consumer work to enterprise software-as-a-service solutions. Matt received a Bach&shy;elor’s of Science degree in Electrical Engineering from the Univer&shy;sity of Michigan.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Two favorite hobbies are playing football and drinking beer.</p>
                        <p class="quiz">More on Matt:</p>
                        <p class="quiz">AT: "Hey Matt, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Matt:</span> "Other job would be Astronaut.  Cuz hanging out in zero g would be fantastic."</p>
                    </div>
                </div>
                <div class="member-divider"></div>
                <div class="team-member at-right">
                    <div class="team-photo" background-img="../images/team/john.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>John Lyon-Smith</h1>
                        <h2>Senior Software Architect</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/in/jlyonsmith" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/jlyonsmith" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>John has extensive experience in commercial software develop&shy;ment through principle development, management and software architect positions, and is a contributor to numerous award-winning software products.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Playing the guitar and singing.  Good food, good drink and good company.</p>
                        <p class="quiz">More on John:</p>
                        <p class="quiz">AT: "Hey John, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">John:</span> "President of the United States.  So that I might better understand why making effective changes that improves peoples lives is so hard."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team4" class="fullpage horiz" panel-in-view background="w" background-img="../images/bg/AT_team-bg.png" size="cover">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member at-left">
                    <div class="team-photo" background-img="../images/team/cindi.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Cindi McCurdy</h1>
                        <h2>Senior Product Manager</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/pub/cynthia-mccurdy/0/57/77a" target="_blank"></a>
                        <a class="twitter" ng-href="" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>NEED TEXT!</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Gardening and costuming - especially Halloween get-ups.</p>
                        <p class="quiz">More on Cindi:</p>
                        <p class="quiz">AT: "Hey Cindi, if you could spend one day at any job ever invented, what would it be and why?"</p>
                        <p><span class="quiz">Cindi:</span> "I would be on site for the next 'Lord of the Rings' filming assigned to overseeing the creation of Gollum (with a superstar team on board of course). And I'll need more than a day :)"</p>
                    </div>
                </div>
                <div class="member-divider"></div>
                <div class="team-member at-right">
                    <div class="team-photo" background-img="../images/team/robb.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Robb Vest</h1>
                        <h2>Senior Graphic Artist</h2>
                        <a class="linked-in" size="contain" ng-href="www.linkedin.com/pub/robert-vest/1/607/200" target="_blank"></a>
                        <a class="twitter" size="contain" ng-href="https://twitter.com/robbvest" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>With over 20 years experience in the field of design Robb’s work includes interactive design, visual design, brand identity, and ca&shy;sual games design. Robb has worked with several high profile en&shy;terprises such as ABC News, MTV Networks, HBO, and Pepsi with industry leading companies in mobile marketing, technology con&shy;sulting and gaming.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Enjoying the craftsmanship of modern engineered automotives, caring for and maintaining classic automobiles.</p>
                        <p class="quiz">More on Robb:</p>
                        <p class="quiz">AT: "Hey Robb, if you could spend one day at any job ever invented, what would it be and why?"</p>
                        <p><span class="quiz">Robb:</span> "Apprenticeship with Maurits Cornelis Escher during his creation of San Gimignano 1923 woodcut."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team5" class="fullpage horiz" panel-in-view background="w" background-img="../images/bg/AT_team-bg.png" size="cover">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member at-left">
                    <div class="team-photo" background-img="../images/team/seth.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Seth Garrison</h1>
                        <h2>Software Developer</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/pub/seth-garrison/30/666/451" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/nightcadet" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Our lead on data aggregation, Seth brings a background in re&shy;search, data management and technology from his years studying Music Technology and Cognition at NYU.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>MUSIC! Furniture shopping.</p>
                        <p class="quiz">More on Seth:</p>
                        <p class="quiz">AT: "Hey Seth, if you could spend one day at any job ever invented, what would it be and why?"</p>
                        <p><span class="quiz">Seth:</span> "I don't know if this counts as a job, but I dream of being a part of MIT Media Lab's Lifelong Kindergarten program. Even a day would do."</p>
                    </div>
                </div>
                <div class="member-divider"></div>
                <div class="team-member at-right">
                    <div class="team-photo" background-img="../images/team/adrienne.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Adrienne Mills</h1>
                        <h2>Marketing, Social &amp; Content Manager</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/in/adriennemariemills/" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/adrienne_mills" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>NEED TEXT!</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>In my spare time I snowboard like a maniac, and paint like Bob Ross. Not at the same time, though.</p>
                        <p class="quiz">More on Adrienne:</p>
                        <p class="quiz">AT: "Hey Adrienne, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Adrienne:</span> "If I could spend one day at any job, I would be a Weeki Wachee mermaid because it combines the best things into one: choreographed underwater ballet, having awesome hair, and being a mermaid."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>