<div id="about" class="fullpage" background="h" panel-in-view="'about', $inview, $inviewpart" background-img="../images/bg/AT_about-us-bg.png" size="cover">
    <div class="container">
        <div class="at-about-main-text">
            <h1>About Us</h1>
            <p>Wherever you are, we bring you con&shy;tent that matters.</p>
            <p>Here at Artifact Technologies we use geolocation and media creation together to deliver relevant, curated content right to your mobile device. Our platform, LENS<span class="trade">&trade;</span> is here to en&shy;hance you experience by delivering content that matters to you.</p>

            <div class="at-about-artifact">
                <h1>[ <span class="underlined">
            <span class="letter" ng-mouseover="showA = true" ng-mouseleave="showA = false">A</span>
            <span class="letter" ng-mouseover="showR = true" ng-mouseleave="showR = false">R</span>
            <span class="letter" ng-mouseover="showT = true" ng-mouseleave="showT = false">T</span>
            <span class="letter" ng-mouseover="showI = true" ng-mouseleave="showI = false">I</span>
            <span class="letter" ng-mouseover="showF = true" ng-mouseleave="showF = false">F</span>
            <span class="letter" ng-mouseover="showA2 = true" ng-mouseleave="showA2 = false">A</span>
            <span class="letter" ng-mouseover="showC = true" ng-mouseleave="showC = false">C</span>
            <span class="letter" ng-mouseover="showT2 = true" ng-mouseleave="showT2 = false">T</span></span> ]</h1>
                <div ng-show="showA">
                    <div id="showA" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[A]utonomy</h2>
                        <p>We like to work without the barriers of "top-down" management, there are no micro-managers at Artifact.</p>
                    </div>
                </div>
                <div ng-show="showR">
                    <div id="showR" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[R]espect</h2>
                        <p>For all those we interact with, for the products we produce and the environment we are building.</p>
                    </div>
                </div>
                <div ng-show="showT">
                    <div id="showT" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[T]ransparency</h2>
                        <p>Our goal is to remain open and honest whether things are good or bad. Show it and say it the way it is.</p>
                    </div>
                </div>
                <div ng-show="showI">
                    <div id="showI" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[I]nspired</h2>
                        <p>We want to inspire those around us by leading by example, not just in the work place but in our personal lives.</p>
                    </div>
                </div>
                <div ng-show="showF">
                    <div id="showF" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[F]ocus</h2>
                        <p>A term we remind ourselves of everyday, keeping our eye “on the ball” and staying in tune with our goals and deliverables. Outside distractions need to be kept in check.</p>
                    </div>
                </div>
                <div ng-show="showA2">
                    <div id="showA2" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[A]ccountability</h2>
                        <p>Whether to each other as team mates, to our customers or our board members. No hiding under our desks. We demand it of all whom we interact with.</p>
                    </div>
                </div>
                <div ng-show="showC">
                    <div id="showC" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[C]ompassionate</h2>
                        <p>We treat others as we wish to be treated.  There is no room in our work place for politics, rumors, or underhandedness. We show empathy for our customers, placing ourselves in their shoes, we solve problems by thinking of the effects of all involved.</p>
                    </div>
                </div>
                <div ng-show="showT2">
                    <div id="showT2" class="pointer"></div>
                    <div class="at-about-artifact-bubble">
                        <h2>[T]rust</h2>
                        <p>We have zero chance of being successful if we can’t trust one another in our shop and just as important we need to instill trust with our customers.</p>
                    </div>
                </div>
            </div>
            <a class="at-about-chevron" ui-sref="about.team.1">
                <h4 class="at-about-team-link">Meet The Team</h4><img src="images/chevrons-right.png">
            </a>
        </div>
    </div>
</div>