<div scroll-spy in-view-container horizontal-bkgd-container>

    <div id="header">
        <div class="container">
            <ul class="nav navbar-fixed-top" role="navigation">
                <li spy="home" ng-click="scrollTo('home')"><h4>Home</h4></li>
                <li spy="about" ng-click=scrollTo('about')><h4>About</h4></li>
                <li spy="platform" ng-click=scrollTo('platform')><h4>Platform</h4></li>
                <li spy="work" ng-click=scrollTo('work')><h4>Work</h4></li>
                <li spy="contact" ng-click=scrollTo('contact')><h4>Contact</h4></li>
                <li></li>
            </ul>
        </div>
    </div>

    <div id="team1" class="fullpage horiz" in-view-horiz="panelInViewHoriz(thisPanel('team1'), $inviewhoriz, $inviewparthoriz)" background="w">
        <div class="container">
            <h1>About</h1>
            <p class="lead">This note is just to note that I've resized each of the following "pages" to the browser window's dimensions. Pretty cool, huh?</p>
            <div class="big-content"></div>
        </div>
    </div>

    <div id="team2" class="fullpage horiz" in-view-horiz="panelInViewHoriz(thisPanel('team2'), $inviewhoriz, $inviewparthoriz)" background="w">
        <div class="container">
            <h1>About</h1>
            <p class="lead">This note is just to note that I've resized each of the following "pages" to the browser window's dimensions. Pretty cool, huh?</p>
            <div class="big-content"></div>
        </div>
    </div>

    <div id="team3" class="fullpage horiz" in-view-horiz="panelInViewHoriz(thisPanel('team3'), $inviewhoriz, $inviewparthoriz)" background="w">
        <div class="container">
            <h1>About</h1>
            <p class="lead">This note is just to note that I've resized each of the following "pages" to the browser window's dimensions. Pretty cool, huh?</p>
            <div class="big-content"></div>
        </div>
    </div>

    <div id="team4" class="fullpage horiz" in-view-horiz="panelInViewHoriz(thisPanel('team4'), $inviewhoriz, $inviewparthoriz)" background="w">
        <div class="container">
            <h1>About</h1>
            <p class="lead">This note is just to note that I've resized each of the following "pages" to the browser window's dimensions. Pretty cool, huh?</p>
            <div class="big-content"></div>
        </div>
    </div>

    <div id="team5" class="fullpage horiz" in-view-horiz="panelInViewHoriz(thisPanel('team5'), $inviewhoriz, $inviewparthoriz)" background="w">
        <div class="container">
            <h1>About</h1>
            <p class="lead">This note is just to note that I've resized each of the following "pages" to the browser window's dimensions. Pretty cool, huh?</p>
            <div class="big-content"></div>
        </div>
    </div>

</div>