<div id="contact" class="fullpage" background="h" panel-in-view="'contact', $inview, $inviewpart" background-img="../images/bg/AT_contact-us.png" size="cover">
    <div class="container">
        <div class="at-contact">
            <h1>Contact Us</h1>

            <div class="contact-info">
                <p>Drop us an email<br>
                    <a ng-href="mailto:sayhey@artifacttech.com">sayhey@artifacttech.com</a></p>

                <p>Visit us in Fremont<br>
                    3601 Fremont Ave N Suite 315<br>
                    Seattle WA 98103</p>

                <a class="twitter" ng-href="https://twitter.com/fonografmusic" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="at-footer">
        <p>Copyright &copy; Artifact Technologies 2012. All rights reserved</p>
    </div>
</div>