<div scroll-spy in-view-container>

    <!--<div id="header">-->
        <!--<div class="container">-->
            <!--<ul class="nav navbar-fixed-top" role="navigation">-->
                <!--<li spy="home" ng-click="scrollTo('home')"><h4>Home</h4></li>-->
                <!--<li spy="about" ng-click=scrollTo('about')><h4>About</h4></li>-->
                <!--<li spy="platform" ng-click=scrollTo('platform')><h4>Platform</h4></li>-->
                <!--<li spy="work" ng-click=scrollTo('work')><h4>Work</h4></li>-->
                <!--<li spy="contact" ng-click=scrollTo('contact')><h4>Contact</h4></li>-->
                <!--<li></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <div id="home" class="fullpage" background="h" panel-in-view background-img="../images/bg/AT_home-bg.png" size="cover">
        <div class="container">
            <span class="at-main-message"><h1>You are here</h1></span>
            <a class="at-arrow-down" ui-sref="about.main">
                <img src="images/arrow-down.png">
            </a>
        </div>
    </div>

    <div id="about" class="fullpage" background="h" panel-in-view background-img="../images/bg/AT_about-us-bg.png" size="cover">
        <div class="container">
            <div class="at-about-main-text">
                <h1>About Us</h1>
                <p>Wherever you are, we bring you con&shy;tent that matters.</p>
                <p>Here at Artifact Technologies we use geolocation and media creation together to deliver relevant, curated content right to your mobile device. Our platform, LENS<span class="trade">&trade;</span> is here to en&shy;hance you experience by delivering content that matters to you.</p>

                <div class="at-about-artifact">
                    <h1>[ <span class="underlined">
            <span class="letter" ng-mouseover="showA = true" ng-mouseleave="showA = false">A</span>
            <span class="letter" ng-mouseover="showR = true" ng-mouseleave="showR = false">R</span>
            <span class="letter" ng-mouseover="showT = true" ng-mouseleave="showT = false">T</span>
            <span class="letter" ng-mouseover="showI = true" ng-mouseleave="showI = false">I</span>
            <span class="letter" ng-mouseover="showF = true" ng-mouseleave="showF = false">F</span>
            <span class="letter" ng-mouseover="showA2 = true" ng-mouseleave="showA2 = false">A</span>
            <span class="letter" ng-mouseover="showC = true" ng-mouseleave="showC = false">C</span>
            <span class="letter" ng-mouseover="showT2 = true" ng-mouseleave="showT2 = false">T</span></span> ]</h1>
                    <div ng-show="showA">
                        <div id="showA" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[A]utonomy</h2>
                            <p>We like to work without the barriers of "top-down" management, there are no micro-managers at Artifact.</p>
                        </div>
                    </div>
                    <div ng-show="showR">
                        <div id="showR" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[R]espect</h2>
                            <p>For all those we interact with, for the products we produce and the environment we are building.</p>
                        </div>
                    </div>
                    <div ng-show="showT">
                        <div id="showT" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[T]ransparency</h2>
                            <p>Our goal is to remain open and honest whether things are good or bad. Show it and say it the way it is.</p>
                        </div>
                    </div>
                    <div ng-show="showI">
                        <div id="showI" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[I]nspired</h2>
                            <p>We want to inspire those around us by leading by example, not just in the work place but in our personal lives.</p>
                        </div>
                    </div>
                    <div ng-show="showF">
                        <div id="showF" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[F]ocus</h2>
                            <p>A term we remind ourselves of everyday, keeping our eye “on the ball” and staying in tune with our goals and deliverables. Outside distractions need to be kept in check.</p>
                        </div>
                    </div>
                    <div ng-show="showA2">
                        <div id="showA2" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[A]ccountability</h2>
                            <p>Whether to each other as team mates, to our customers or our board members. No hiding under our desks. We demand it of all whom we interact with.</p>
                        </div>
                    </div>
                    <div ng-show="showC">
                        <div id="showC" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[C]ompassionate</h2>
                            <p>We treat others as we wish to be treated.  There is no room in our work place for politics, rumors, or underhandedness. We show empathy for our customers, placing ourselves in their shoes, we solve problems by thinking of the effects of all involved.</p>
                        </div>
                    </div>
                    <div ng-show="showT2">
                        <div id="showT2" class="pointer"></div>
                        <div class="at-about-artifact-bubble">
                            <h2>[T]rust</h2>
                            <p>We have zero chance of being successful if we can’t trust one another in our shop and just as important we need to instill trust with our customers.</p>
                        </div>
                    </div>
                </div>
                <a class="at-about-chevron" ui-sref="about.team.1">
                    <h4 class="at-about-team-link">Meet The Team</h4><img src="images/chevrons-right.png">
                </a>
            </div>
        </div>
    </div>

    <div id="platform" class="fullpage" background="h" panel-in-view background-img="../images/bg/AT_platform-bg.png" size="cover">
        <div class="container">
            <div class="at-platform">
                <h1>Platform</h1>
                <div class="at-platform-list">
                    <ol>
                        <li>Our core technology is the Mosaic<span class="trade">&trade;</span> - a dynamic, proprietary media format optimized for mobile viewing, sharing and seamless purchase.</li>
                        <li>Our mobile platform, LENS<span class="trade">&trade;</span>, allows businesses to easily aggregate, curate and publish their content - as Mosaics - directly to customers.</li>
                        <li>LENS<span class="trade">&trade;</span> operates with geo-fenced networks. Once you physically enter a network, you are introduced to activities, offers, exclusive content, information and more within steps of where you are.</li>
                    </ol>
                </div>
                <div class="at-platform-menu">
                    <a class="at-platform-box" ui-sref="platform.curation">
                        <div class="box-icon" background-img="../images/thumbs-up.png" size="cover"></div>
                        <div class="menu-title">Curation</div>
                    </a>
                    <a class="at-platform-box" ui-sref="platform.creation">
                        <div class="box-icon" background-img="../images/paintbrush.png" size="cover"></div>
                        <div class="menu-title">Creation</div>
                    </a>
                    <a class="at-platform-box" ui-sref="platform.commerce">
                        <div class="box-icon" background-img="../images/present.png" size="cover"></div>
                        <div class="menu-title">Commerce</div>
                    </a>
                    <a class="at-platform-box" ui-sref="platform.analysis">
                        <div class="box-icon" background-img="../images/bar-graph.png" size="cover"></div>
                        <div class="menu-title">Analysis</div>
                    </a>
                </div>
            </div>
            <a class="at-arrow-right" ui-sref="platform.curation">
                <img src="images/arrow-right.png">
            </a>
        </div>
    </div>

    <div id="work" class="fullpage" background="h" panel-in-view background-img="../images/bg/AT_our-work-bg.png" size="cover">
        <div class="container">
            <div class="at-work">
                <h1>Our Work</h1>
                <div class="at-work-page">
                    <p>Nearly every place in today’s world is paired with a digital counterpart. People interact with museums, neighborhoods, restaurants and more in real life, and virtually online via a multitude of devices. We are here to bridge the distance between those two places, with our LENS™ application. LENS™ creates place identity for locations where they can come alive with digital information, entertainment and commerce.</p>
                    <div class="at-phones">
                        <a class="at-phone at-left" background-img="../images/phone-lens.png" size="contain" ui-sref="work.lens" title="LENS"></a>
                        <a class="at-phone at-right" background-img="../images/phone-fonograf.png" size="contain" ui-sref="work.fonograf" title="Fonograf"></a>
                    </div>
                </div>
            </div>
            <a class="at-arrow-right" ui-sref="work.fonograf">
                <img src="images/arrow-right.png">
            </a>
        </div>
    </div>

    <div id="contact" class="fullpage" background="h" panel-in-view background-img="../images/bg/AT_contact-us.png" size="cover">
        <div class="container">
            <div class="at-contact">
                <h1>Contact Us</h1>

                <div class="contact-info">
                    <p>Drop us an email<br>
                        <a ng-href="mailto:sayhey@artifacttech.com">sayhey@artifacttech.com</a></p>

                    <p>Visit us in Fremont<br>
                        3601 Fremont Ave N Suite 315<br>
                        Seattle WA 98103</p>

                    <a class="twitter" ng-href="https://twitter.com/fonografmusic" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="at-footer">
            <p>Copyright &copy; Artifact Technologies 2012. All rights reserved</p>
        </div>
    </div>

</div>

