<div class="at-navbar">
    <div class="at-navbar-wrapper" ng-class="{ home: $location.hash()=='home' }">
        <div class="at-navbar-banner">
            <header class="at-navbar-header at-inline">
                <a spy="home">
                    <div class="logo" background-img="../images/artifact-logo.png" size="cover"></div>
                    Artifact <span class="thin">Technologies</span><span class="trade">&trade;</span>
                </a>
            </header>
            <span ng-class="{ home: $location.hash()=='home' }">
                <nav class="at-navbar-main at-inline" ng-class="{ home: $location.hash()=='home' }">
                    <a spy="about">About Us</a>
                    <a spy="platform">Our Platform</a>
                    <a spy="work">Our Work</a>
                    <a spy="contact">Contact Us</a>
                </nav>
            </span>
        </div>
    </div>
    <div class="at-subnav-wrapper" ng-class="{ home: $location.hash()=='home' }">
        <div class="at-subnav">
            <nav class="at-navbar-subnav" ng-show="$location.hash()=='about'">
                <a ui-sref="about.team.1" ng-class="{ active: $state.includes('about.team') }">The Team</a>
                <a ui-sref="about.investors.1" ng-class="{ active: $state.includes('about.investors') }">The Investors</a>
                <a ui-sref="about.advisory.1" ng-class="{ active: $state.includes('about.advisory') }">The Advisory Board</a>
            </nav>
            <nav class="at-navbar-subnav" ng-show="$location.hash()=='platform'">
                <a ui-sref="platform.curation" ng-class="{ active: $state.is('platform.curation') }">Curation</a>
                <a ui-sref="platform.creation" ng-class="{ active: $state.is('platform.creation') }">Creation</a>
                <a ui-sref="platform.commerce" ng-class="{ active: $state.is('platform.commerce') }">Commerce</a>
                <a ui-sref="platform.analysis" ng-class="{ active: $state.is('platform.analysis') }">Analysis</a>
            </nav>
            <nav class="at-navbar-subnav" ng-show="$location.hash()=='work'">
                <a ui-sref="work.fonograf" ng-class="{ active: $state.is('work.fonograf') }">Fonograf</a>
                <a ui-sref="work.lens" ng-class="{ active: $state.is('work.lens') }">Whidbey LENS</a>
            </nav>
        </div>
    </div>
</div>