<div id="platform" class="fullpage" background="h" panel-in-view="'platform', $inview, $inviewpart" background-img="../images/bg/AT_platform-bg.png" size="cover">
    <div class="container">
        <div class="at-platform">
            <h1>Platform</h1>
            <div class="at-platform-list">
                <ol>
                    <li>Our core technology is the Mosaic<span class="trade">&trade;</span> - a dynamic, proprietary media format optimized for mobile viewing, sharing and seamless purchase.</li>
                    <li>Our mobile platform, LENS<span class="trade">&trade;</span>, allows businesses to easily aggregate, curate and publish their content - as Mosaics - directly to customers.</li>
                    <li>LENS<span class="trade">&trade;</span> operates with geo-fenced networks. Once you physically enter a network, you are introduced to activities, offers, exclusive content, information and more within steps of where you are.</li>
                </ol>
            </div>
            <div class="at-platform-menu">
                <a class="at-platform-box" ui-sref="platform.curation">
                    <div class="box-icon" background-img="../images/thumbs-up.png" size="cover"></div>
                    <div class="menu-title">Curation</div>
                </a>
                <a class="at-platform-box" ui-sref="platform.creation">
                    <div class="box-icon" background-img="../images/paintbrush.png" size="cover"></div>
                    <div class="menu-title">Creation</div>
                </a>
                <a class="at-platform-box" ui-sref="platform.commerce">
                    <div class="box-icon" background-img="../images/present.png" size="cover"></div>
                    <div class="menu-title">Commerce</div>
                </a>
                <a class="at-platform-box" ui-sref="platform.analysis">
                    <div class="box-icon" background-img="../images/bar-graph.png" size="cover"></div>
                    <div class="menu-title">Analysis</div>
                </a>
            </div>
        </div>
        <a class="at-arrow-right" ui-sref="platform.curation">
            <img src="images/arrow-right.png">
        </a>
    </div>
</div>