<div id="work" class="fullpage" background="h" panel-in-view="'work', $inview, $inviewpart" background-img="../images/bg/AT_our-work-bg.png" size="cover">
    <div class="container">
        <div class="at-work">
            <h1>Our Work</h1>
            <div class="at-work-page">
                <p>Nearly every place in today’s world is paired with a digital counterpart. People interact with museums, neighborhoods, restaurants and more in real life, and virtually online via a multitude of devices. We are here to bridge the distance between those two places, with our LENS™ application. LENS™ creates place identity for locations where they can come alive with digital information, entertainment and commerce.</p>
                <div class="at-phones">
                    <a class="at-phone at-left" background-img="../images/phone-lens.png" size="contain" ui-sref="work.lens" title="LENS"></a>
                    <a class="at-phone at-right" background-img="../images/phone-fonograf.png" size="contain" ui-sref="work.fonograf" title="Fonograf"></a>
                </div>
            </div>
        </div>
        <a class="at-arrow-right" ui-sref="work.fonograf">
            <img src="images/arrow-right.png">
        </a>
    </div>
</div>